<div class="row justify-content-end m-0">
    <div class="col-8 mt-4" method="post">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
            <div class="col-6 p-2 shadow-sm rounded bg-light-subtle">
                <div class="col-8 mx-auto my-2">
                    <h5 class="m-2">{{title}}</h5>
                </div>  
                <div class="m-2">
                    <b><small><label class="form-label text-info" for="password ">Password</label></small></b>
                    <input type="password" class="form-control rounded-0 "
                    placeholder="Enter Password" name="password" id="password"
                    formControlName="password">
                    @if (password?.errors?.['required'] && (password?.touched || password?.dirty)) {
                        <b><small class="text-danger" >*Password field is required</small></b>
                    }
                </div>    
                <div class="m-2">
                    <b><small><label class="form-label text-info" for="password ">Password Confirmation</label></small></b>
                    <input type="password" class="form-control rounded-0 "
                    placeholder="Confirm Password" name="password_confirmation"
                    id="password_confirmation"
                    formControlName="password_confirmation" >
                    @if (password_confirmation?.errors?.['required'] && (password_confirmation?.touched || password_confirmation?.dirty)) {
                        <b><small class="text-danger" >*Password Confirmation field is required</small></b>
                    }
                    @if(password?.value && password_confirmation?.value  ){
                        @if(!(password?.value| textmatch:password_confirmation?.value)){
                            <small class="text-danger"><b>Passwords Do Not Match</b></small>
                        }                      
                    }            
                </div>    
                <div class="center-container">
                    <input type="submit"
                    class="form-control btn btn-info text-dark submitbtn rounded-0 m-2"
                    id="password_submit" [disabled]="!(this.resetForm.invalid || password?.value| textmatch:password_confirmation?.value)" >
                </div>
            </div>
        </form>
    </div>
</div>