<div class="container">
  <div class="border border-2 p-3 my-4 bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <h5>Create/Upload Timesheet</h5>
      <div class="d-flex">
        <button class="btn btn-success me-3" (click)="toggleManualCreation()">
          <i class="bi bi-plus-circle me-2"></i> Create Timesheet
        </button>
        <button class="btn btn-primary" (click)="toggleUploadCSV()">
          <i class="bi bi-upload me-2"></i> Upload Timesheet
        </button>
      </div>
    </div>
  </div>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="manualTimesheetOffcanvas" [ngClass]="{ 'show': showManualCreation }">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Manual Timesheet</h5>
      <button type="button" class="btn-close" (click)="toggleManualCreation()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form [formGroup]="manualTimesheetForm" (ngSubmit)="onManualTimesheetSubmit()" >
        <div class="container">
          <div class="row mb-3">
            <div class="col-12">
              <div class="">
                <label for="timesheetName" class="form-label">Timesheet Name *</label>
                <input type="text" class="form-control" id="timesheetName" formControlName="timesheet_name" placeholder="Enter Timesheet Name" required><br>
              </div>
            </div>
            <div class="col-12">
              <div class="">
                <label for="timesheetDate" class="form-label">Timesheet Date *</label>
                <input type="date" class="form-control" id="timesheetDate" formControlName="timesheet_date" required><br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <button type="submit" [disabled]="manualTimesheetForm.invalid" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="uploadCsvOffcanvas" [ngClass]="{ 'show': showUploadCSV }">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Upload CSV Timesheet</h5>
      <button type="button" class="btn-close" (click)="toggleUploadCSV()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form [formGroup]="uploadCsvForm" (ngSubmit)="onUploadCSVSubmit()" enctype="multipart/form-data">
        
        <div class="container">
          <div class="row mb-3">
            <div class="col-12">
              <div class="">
                <label for="timesheetName" class="form-label">Timesheet Name *</label>
                <input type="text" class="form-control" id="timesheetName" formControlName="timesheet_name" placeholder="Enter Timesheet Name" required><br>
              </div>
            </div>
            <div class="col-12">
              <div class="">
                <label for="timesheetDate" class="form-label">Timesheet Date *</label>
                <input type="date" class="form-control" id="timesheetDate" formControlName="timesheet_date" required><br>
              </div>
            </div>
            <div class="col-12">
              <div class="">
                <label for="fileUpload" class="form-label">Choose File *</label>
                <input type="file" class="form-control" id="fileUpload" formControlName="file_upload" (change)="onFileDropped($event)" required>
              </div>
          </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <button type="submit" [disabled]="uploadCsvForm.invalid" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center text-align-center mx-5 my-3" >
  <app-timesheet-grid></app-timesheet-grid>
</div>
