
<!-- <div @if = "showManualCreation" class="mb-4"></div> -->

<kendo-grid
[data]="grid"
[pageSize]="pageSize"
[skip]="skip"
[pageable]="true"
(pageChange)="pageChange($event)"
[groupable]="true"
[group]="groups"
[loading]="gridloading"
(groupChange)="groupChange($event)"
[filterable]="true"
[filter]="filter"
(filterChange)="filterChange($event)"
[sortable]="true"
[sort]="sort"
(sortChange)="sortChange($event)"
>

  <kendo-grid-column
  title="S.No"
  [headerStyle]="{'font-weight': 'bold'}"
  >
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{ rowIndex + 1 }}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
  field="timesheet_name"
  [headerStyle]="{'font-weight': 'bold'}"
  title="Name"
  ></kendo-grid-column>

  <kendo-grid-column
  field="timesheet_date"
  [headerStyle]="{'font-weight': 'bold'}"
  title="Date"
  [filterable]="true"
  filter="date"
  format="{0:dd-MM-yyyy }"
    ></kendo-grid-column>

    <kendo-grid-column title="Actions" [headerStyle]="{'font-weight': 'bold'}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button class="btn btn-dark btn-sm btn-smaller"  title="View Timesheet" (click)="navigateToTimehsheetDetail(dataItem.id)">
          <i class="bi bi-eye"></i>
        </button>
      </ng-template>
    </kendo-grid-column>
