<div class="container">
  <div class="border border-2 p-3 my-4 bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <h5></h5>
      <div class="d-flex">
        <button class="btn btn-success me-3" (click)="toggleManualCreation()">
          <i class="bi bi-plus-circle me-2"></i> Create Timesheet
        </button>
        <button class="btn btn-primary" (click)="toggleUploadCSV()">
          <i class="bi bi-upload me-2"></i> Upload Timesheet
        </button>
      </div>
    </div>
  </div>

<kendo-grid
[data]="grid"
[pageSize]="pageSize"
[skip]="skip"
[pageable]="true"
(pageChange)="pageChange($event)"
[groupable]="true"
[group]="groups"
[loading]="gridloading"
(groupChange)="groupChange($event)"
[filterable]="true"
[filter]="filter"
(filterChange)="filterChange($event)"
>

  <kendo-grid-column
  title="S.No"
  >
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{ rowIndex + 1 }}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
  field="timesheet_name"
  title="Name"
  ></kendo-grid-column>

  <kendo-grid-column
  field="timesheet_date"
  title="Date"
  [filterable]="true"
  filter="date"
  ></kendo-grid-column>

  <kendo-grid-column
  title="Actions"
  ></kendo-grid-column>

</kendo-grid>
